DATABASE_URL="postgresql://postgres:yourPassword@localhost:5433/yourDatabase"

CLIENT_URL = "http://localhost:3001"

JWT_SECRET=secretJwtPhrase
JWT_EXP=30m

NODE_ENV=dev #prod or dev

# Google OAuth
GOOGLE_CLIENT_ID="your client id"
GOOGLE_CLIENT_SECRET="your client secret"

# API
API_URL="http://localhost:3000"
PORT=3000

# Email
SMTP_HOST=smtp.yourMail.com
SMTP_PORT=465
SMTP_USER=yourEmail@example.com
SMTP_PASSWORD=secret
MAIL_FROM=yourEmail@example.com

# Python version
PYTHON_EXECUTABLE=your path
PYTHON_SCRIPT_PATH=./python/train_weights.py

# AWS
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=yourId
AWS_SECRET_ACCESS_KEY=your_access_key
AWS_ENDPOINT=http://localhost:9000
BUCKET_NAME=images

#redis
REDIS_HOST=localhost
REDIS_PORT=6379